# .gitignore

# >>>>>>>> custom
**/.mydocs
**/.mysecret
.detect_env.py
.active_env.py

# >>>>>>>> system
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.TemporaryItems
.com.apple.timemachine.donotpresent
*~
*~.nib
.nfs*
.huggingface/
.cache/huggingface/

# >>>>>>>> IDE
**/.zed/*
**/.vscode/*
!.zed/settings.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.idea/
*.iml
.history/
*.swp
*.swo


# >>>>>>>> env & secret
**/.venv/
**/venv/
**/env/
**/.env
**/.env.*
ENV/
.pyenv/
pip-selfcheck.json
pyvenv.cfg
!.env.example
*.pem
*.key
*.crt
secrets/
credentials/

# >>>>>>>> 构建/编译/缓存/测试/数据库
__pycache__/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.dmypy.json
dmypy.json
.hypothesis/
dist/
build/
*.egg-info/
.eggs/
dist-ssr/

*.tsbuildinfo
*.sqlite3
*.db
*.log
**/.cache
**/_cache
**/*cache*
logs/
checkpoints/
wandb/
mlruns/

node_modules/
dist/
build/
.next/
.output/
*.tgz
.cache/
.npm
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnpm-debug.log*
.nyc_output
coverage/
*.lcov

**/build/
dist/
*.manifest
*.spec
*.egg
*.egg-info/
*.bak
*.old
*.orig
tmp/
temp/
*.log
*.pid


# >>>>>>>> Big files
**/*.safetensors
**/*.sft
**/*.gguf
**/*.ckpt
**/*.pt
**/*.pth
**/*.latent
**/*.conditioning
**/*.bin
**/*.onnx
**/*.png
**/*.jpg
**/*.jpeg
**/*.mp4
**/*.mov
**/*.wav
**/*.mp3
**/*.fcp
**/*.blend
**/*.gd
